In [2]:
import pandas as pd

In [5]:
path = r"C:\Users\joaof\Downloads\cleaned_courses (1).pkl"

In [6]:
df = pd.read_pickle(path)

In [7]:
df.head()

,ipeds_id,cat_type,start_yr,end_yr,page_num,col_num,type,annote_id,Department,Number,Title,Description,Prerequisites,Credits,Teacher,decade,quinquennium,DepartmentCleaned
0,190415,both,1998,1999,431,1,courses,701991,GOVT,605,Comparative Methods,This seminar provides a survey of different me...,,4,"{'Honorific': '', 'Name': 'J. Pontusson', 'Deg...",1990,1995,government
1,166638,ug,2009,2010,290,0,courses,378402,Soil and Water Conservation,121,Remote Sensing: Digital Processing and Analysis,This course is not described in the text.,,3,{},2000,2005,soil and water conservation
2,166638,ug,2009,2010,290,0,courses,378402,Soil and Water Conservation,128,Principles of Animal Behavior,This course is not described in the text.,,3,{},2000,2005,soil and water conservation
3,166638,ug,2009,2010,290,0,courses,378402,Soil and Water Conservation,127,Avian Physiology,This course is not described in the text.,,3,{},2000,2005,soil and water conservation
4,166638,ug,2009,2010,290,0,courses,378402,Soil and Water Conservation,126,Introduction to the Diseases of Wildlife,This course is not described in the text.,,3,{},2000,2005,soil and water conservation

- no repeated courses not in teh same catalog
- descriptions as nulls is not making

In [27]:
ipeds_id_uvm = "231174"

In [34]:
df[df['ipeds_id'].astype(str)==ipeds_id_uvm]['Description'].value_counts(dropna=False).head(3)/df[df['ipeds_id'].astype(str)==ipeds_id_uvm].shape[0]

Description
                                                                                                                                                                                                                                                      0.101847
See Schedule of Courses for specific titles.                                                                                                                                                                                                          0.020001
A course which is tailored to fit the interests of a specific student, which occurs outside the traditional classroom/laboratory setting under the supervision of a faculty member, for which credit is awarded. Offered at department discretion.    0.004622
Name: count, dtype: float64

In [45]:
df[df['Title']=='Dissertation']['Description'].value_counts(dropna=False).head(20)

Description
                                                                                                             848
(S/U grade only.)                                                                                            110
Offered on a CR/NC basis only.                                                                               100
Individual direction in the development and execution of a doctoral dissertation.                             74
See the Graduate School Bulletin for total credit requirements.                                               70
(S/U grade only).                                                                                             62
A minimum of twenty-four semester hours is required.                                                          45
(3-12 hrs. per semester)                                                                                      25
Dissertation                                                                                                  21
See the Graduate Programs Bulletin for total credit requirements.                                             21
Repeatable to 15 credits.                                                                                     18
Individual direction in the development and execution of the doctoral dissertation.                           16
Dissertation.                                                                                                 15
An original research project approved by and completed under the supervision of a dissertation committee.     14
Repeatable to 18 credits.                                                                                     13
(S/U grade only). A minimum of twenty-four semester hours is required.                                        11
May be repeated to a maximum of twelve semester hours.                                                        11
A minimum of twenty-four semester hours of credit is required.                                                11
Individual direction for the completion of doctoral dissertation research.                                    10
Doctoral dissertation research under direction of dissertation advisor.                                       10
Name: count, dtype: int64

In [39]:
df[df['ipeds_id'].astype(str)==ipeds_id_uvm]['Title'].value_counts(dropna=False).head(30)

Title
Special Topics                    4610
Advanced Special Topics           3288
Independent Study                 2279
Internship                        2244
Intermediate Special Topics       2149
Undergraduate Research            1870
Introductory Special Topics       1401
Master's Thesis Research          1326
Teaching Assistantship            1310
Readings and Research              992
Seminar                            867
SEMINAR                            767
Readings & Research                761
MASTER'S THESIS RESEARCH           747
College Honors                     585
Doctoral Dissertation Research     541
Contemporary Issues                539
SPECIAL TOPICS                     430
MASTER's THESIS RESEARCH           400
Senior Seminar                     251
Field Experience                   242
DOCTORAL THESIS RESEARCH           235
Advanced Readings & Research       213
Problems in Education              212
SENIOR RESEARCH                    185
Special Problems                   163
Probability Theory                 153
Senior Research                    152
Seminar in Modern Europe           146
Research Methods                   143
Name: count, dtype: int64

In [ ]:
df.groupby(['ipeds_id','start_yr','cat_type']).size().unstack()

cat_type             both      gr  law  misc      ug  voc
ipeds_id start_yr
100663   2004         NaN  3614.0  NaN   NaN  2550.0  NaN
         2006         NaN  3601.0  NaN   NaN  2607.0  NaN
         2008         NaN  3779.0  NaN   NaN  2591.0  NaN
         2009         NaN  3711.0  NaN   NaN  2766.0  NaN
         2010         NaN  3700.0  NaN   NaN  2581.0  NaN
...                   ...     ...  ...   ...     ...  ...
243744   1989      5862.0     NaN  NaN   NaN     NaN  NaN
         1991      6018.0     NaN  NaN   NaN     NaN  NaN
         1992      6132.0     NaN  NaN   NaN     NaN  NaN
         1993      6591.0     NaN  NaN   NaN     NaN  NaN
         1994        12.0     NaN  NaN   NaN     NaN  NaN

[1354 rows x 6 columns]

In [8]:
df['ipeds_id'].value_counts()

ipeds_id
204796    564270
110662    517202
166638    273896
110635    266041
199120    251647
126614    243195
233921    235155
231174    221784
163286    188704
134097    180020
232186    179092
190415    174716
200280    160695
129020    143781
187985    136193
156125    129699
211440    110808
243744    109711
102553     97765
100663     97436
142115     91219
199148     78292
147767     61204
100751     57178
228723     49233
Name: count, dtype: int64